@CHARSET "ISO-8859-1";

nav {
  height: 50px;
  width: 100%;
}

.nav-container {
  height: 50px;
  width: 100%;
  display: table;
}


.affix {
	position: fixed;
  	top: 0;
  	width: 100%;
   	z-index: 1001;
}

.affix-top {
  width: 100%;
}

.affix-bottom {
  position: absolute;
  width: 100%;  
}

.affix + .container {
    padding-top:50px
}
.affix + .container-fluid {
	padding-top: 70px;
}

.nav-wrapper
{
    min-height:250px;
}

footer .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

footer .btn:hover {
   	color: #f3f78f;
}  

footer {
    background: #333333;
    color: white;
}

.panel > .panel-heading {
	background:#004336;
	color:#FFFFFF;
}

.panel-body {
	background:#444444;
	color:#FFFFFF;
}

.modal-content > .modal-header {
	background:#004336;
	color:#FFFFFF;
}

.modal-content > .modal-body {
	background:#444444;
	color:#FFFFFF;
}

.modal-content > .modal-footer {
	background:#004336;
	color:#FFFFFF;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}




  