<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout">
<head>
  <title>Main</title>
</head>
<body>
  <section layout:fragment="content">
	<div class="container-fluid" >  
	Donations are appreciated, but we understand everyone has reasons that they find it difficult to donate, that's ok, please enjoy our services and consider donating when you area able.
	</div>
  </section>
</body>
</html>