<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout">
<head>
  <title>Main</title>
</head>
<body>
  <section layout:fragment="content">
	<div class="container" >  

<div class="row">
  <div class="col-sm-4">
  
			  <table class="table">
			    <thead>
			      <tr>
			        <th>The Haunted Docks</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>History</td>
			      </tr>
			      <tr>
			        <td>Adventure</td>
			      </tr>
			      <tr>
			        <td>Fun</td>
			      </tr>
			      <tr>
			        <td>Videos</td>
			      </tr>
			    </tbody>
			  </table>
  </div>

  
  <div class="col-sm-4">
  
	  <H1>The Haunted Docks</H1>
	 	<p> 
	 	The old docks lay in ruins where once there was a bustling community of tradeships and sea fairers plying the waters in search of riches.
	    No one is sure what happened, but one day several very powerful witches showed up, and everyone fled.  It has since become a place of extreme danger
	    where only the most capable travels dare to go.    
	  	</p>
  
  </div>
  
  <div class="col-sm-4">

			  <table class="table">
			    <thead>
			      <tr>
			        <th>LagDaemon Craft</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>The Haunted Docks</td>
			      </tr>
			      <tr>
			        <td>Temple of Madness</td>
			      </tr>
			      <tr>
			        <td>The Overworld End</td>
			      </tr>
			      <tr>
			        <td>Trading Port</td>
			      </tr>
			    </tbody>
			  </table>
  
  
  </div>
</div>	



	</div>
  </section>
</body>
</html>