<!DOCTYPE html>
  	
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout">
<head>
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				Connecting with social media allows you to quickly and easily 
				create an account without the need to set a password or have 
				your email verified.  By clicking on one the social media links
				you will log into the providers system and authorize LagDaemon Craft to
				access only your basic information (Name and Email).  With this
				information we will create an account.  In the future you can 
				continue to log in with Your Favorite Social Media account.
				
				</div>
			    <div class="col-sm-4 social-buttons">
			      <h4 class="text-center">Connect to Your Favorite Social Media</h4>
					  <a th:href="@{/facebookInit}" class="btn btn-block btn-social btn-facebook" style="background:#3B5998;color:#FFFFFF">
					  <span class="fa fa-facebook">&nbsp;&nbsp;</span>Facebook</a>
					  <a th:href="@{/twitterInit}" class="btn btn-block btn-social btn-twitter" style="background:#55ACEE;color:#FFFFFF">
					  <span class="fa fa-twitter">&nbsp;&nbsp;</span>Twitter</a>
					  <a th:href="@{/linkedinInit}" class="btn btn-block btn-social btn-linkedin" style="background:#007BB6;color:#FFFFFF">
					  <span class="fa fa-linkedin">&nbsp;&nbsp;</span>LinkedIn</a>
			    </div>
				<div class="col-sm-4">
				You can also create a local account with a name, email address, and password.  
				With this account you can log in directly any time.  Please read our terms and conditions
				as well as our privacy policy before creating an account.<br/><br/>	
					  <button type="button" class="btn btn-block" style="background:#004336;color:#FFFFFF">
					  	Create a local account on LagDaemon Craft
					  </button>
				
				</div>
			</div>
		</div>
		
		
	</section>
</body>
</html>