<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout">
<head>
  <title>Main</title>
</head>
<body>
  <section layout:fragment="content">
	<div class="container-fluid" >  
	Your donation is appreciated.  We work hard to bring the best services we can and keep costs as low as possible.  Your donation has helped us keep running the servers, and make things better for all of our players, thanks again and enjoy Minecrafting XD
	</div>
  </section>
</body>
</html>