<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorator="layout">
<head>
  <title>Facebook Connected</title>
</head>
<body>
  <section layout:fragment="content">
		<h3>Connected to Facebook</h3>

		<p><h3>Hello, <span th:text="${name}">Some User</span>!</h3>
			You are now connected to your Facebook account.
			Click <a href="/">here</a> to return to the main page.
		</p>	  

  </section>
</body>
</html>